<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://cablejack.tv/CableJack"
        version="1.0.0">

  <tizen:application id="CableJack.App"
                     package="CableJack"
                     required_version="4.0"/>

  <content src="https://cablejack.tv"/>

  <feature name="http://tizen.org/feature/network.internet"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>

  <tizen:profile name="tv"/>

  <name>CableJack</name>

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>

  <icon src="icon.png"/>

</widget>
